@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: initial;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.nice-form-group {
  --nf-input-size:1rem;
  --nf-input-font-size:calc(var(--nf-input-size)*0.875);
  --nf-small-font-size:calc(var(--nf-input-size)*0.875);
  --nf-input-font-family:inherit;
  --nf-label-font-family:inherit;
  --nf-input-color:#20242f;
  --nf-input-border-radius:0.25rem;
  --nf-input-placeholder-color:#929292;
  --nf-input-border-color:#c0c4c9;
  --nf-input-border-width:1px;
  --nf-input-border-style:solid;
  --nf-input-border-bottom-width:2px;
  --nf-input-focus-border-color:#3b4ce2;
  --nf-input-background-color:#f9fafb;
  --nf-invalid-input-border-color:var(--nf-input-border-color);
  --nf-invalid-input-background-color:var(--nf-input-background-color);
  --nf-invalid-input-color:var(--nf-input-color);
  --nf-valid-input-border-color:var(--nf-input-border-color);
  --nf-valid-input-background-color:var(--nf-input-background-color);
  --nf-valid-input-color:inherit;
  --nf-invalid-input-border-bottom-color:red;
  --nf-valid-input-border-bottom-color:green;
  --nf-label-font-size:var(--nf-small-font-size);
  display: block;
  margin-top: calc(var(--nf-input-size)*1.5);
  line-height: 1;
  white-space: nowrap;
  --switch-orb-size:var(--nf-input-size);
  --switch-orb-offset:calc(var(--nf-input-border-width)*2);
  --switch-width:calc(var(--nf-input-size)*2.5);
  --switch-height:calc(var(--nf-input-size)*1.25 + var(--switch-orb-offset));
}

.nice-form-group > label {
  font-weight: var(--nf-label-font-weight);
  display: block;
  color: var(--nf-label-color);
  font-size: var(--nf-label-font-size);
  font-family: var(--nf-label-font-family);
  margin-bottom: calc(var(--nf-input-size)/2);
  white-space: normal;
}

.nice-form-group > label + small {
  font-style: normal;
}

.nice-form-group small {
  font-family: var(--nf-input-font-family);
  display: block;
  font-weight: 400;
  opacity: 0.75;
  font-size: var(--nf-small-font-size);
  margin-bottom: calc(var(--nf-input-size)*0.75);
}

.nice-form-group small:last-child {
  margin-bottom: 0;
}

.nice-form-group > legend {
  font-weight: var(--nf-label-font-weight);
  display: block;
  color: var(--nf-label-color);
  font-size: var(--nf-label-font-size);
  font-family: var(--nf-label-font-family);
  margin-bottom: calc(var(--nf-input-size)/5);
}

.nice-form-group > .nice-form-group {
  margin-top: calc(var(--nf-input-size)/2);
}

.nice-form-group > input[type=checkbox], .nice-form-group > input[type=date], .nice-form-group > input[type=email], .nice-form-group > input[type=month], .nice-form-group > input[type=number], .nice-form-group > input[type=password], .nice-form-group > input[type=radio], .nice-form-group > input[type=search], .nice-form-group > input[type=tel], .nice-form-group > input[type=text], .nice-form-group > input[type=time], .nice-form-group > input[type=url], .nice-form-group > input[type=week], .nice-form-group > select, .nice-form-group > textarea {
  background: var(--nf-input-background-color);
  font-family: inherit;
  font-size: var(--nf-input-font-size);
  border-bottom-width: var(--nf-input-border-width);
  font-family: var(--nf-input-font-family);
  box-shadow: none;
  border-radius: var(--nf-input-border-radius);
  border: var(--nf-input-border-width) var(--nf-input-border-style) var(--nf-input-border-color);
  border-bottom: var(--nf-input-border-bottom-width) var(--nf-input-border-style) var(--nf-input-border-color);
  color: var(--nf-input-color);
  width: 100%;
  padding: calc(var(--nf-input-size)*0.75);
  height: calc(var(--nf-input-size)*2.75);
  line-height: normal;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: all 0.15s ease-out;
  --icon-padding:calc(var(--nf-input-size)*2.25);
  --icon-background-offset:calc(var(--nf-input-size)*0.75);
}




*, :after, :before {
  box-sizing: inherit;
}

html {
  font-size: 16px;
  box-sizing: border-box;
}

body {
  background: #f3f0e7;
  font-family: Roboto, sans-serif;
  color: #4b5563;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.demo-page {
  margin: 0 auto;
  display: flex;
  max-width: 55em;
}

.demo-page .demo-page-navigation {
  width: 18em;
  padding: 2em 1em;
}

@media only screen and (max-width: 750px) {
  .demo-page .demo-page-navigation {
    display: none;
  }
}
.demo-page .demo-page-navigation nav {
  position: sticky;
  top: 2em;
  background: #fff;
  padding: 0.5em;
  border-radius: 0.75rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.demo-page .demo-page-navigation a {
  display: flex;
  padding: 0.75em 1em;
  text-decoration: none;
  border-radius: 0.25em;
  color: #374151;
  align-items: center;
}

.demo-page .demo-page-navigation a:hover {
  background: #f3f4f6;
}

.demo-page .demo-page-navigation a svg {
  width: 1.25em;
  height: 1.25em;
  margin-right: 1em;
  color: #1f2937;
}

.demo-page .demo-page-content {
  padding: 2em 1em;
  max-width: 100%;
}

@media only screen and (min-width: 750px) {
  .demo-page .demo-page-content {
    width: calc(100% - 18em);
  }
}

.href-target {
  position: absolute;
  top: -2em;
}

section {
  background: #fff;
  padding: 2em;
  border-radius: 0.75rem;
  line-height: 1.6;
  overflow: hidden;
  margin-bottom: 2rem;
  position: relative;
  font-size: 0.875rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

section h1 {
  font-weight: 500;
  font-size: 1.25rem;
  color: #000;
  margin-bottom: 0.75rem;
}

section h1 svg {
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: -10%;
  margin-right: 0.25em;
}

section h1.package-name {
  font-size: 2rem;
  margin-bottom: 0.75rem;
  margin-top: -0.5rem;
}

section strong {
  font-weight: 500;
  color: #000;
}

section p {
  margin: 0.5rem 0 1.5rem;
}

section p a {
  text-decoration: none;
  font-weight: 500;
  color: #3b4ce2;
}

section p:last-child {
  margin-bottom: 0;
}

section code {
  font-weight: 500;
  font-family: Consolas, monaco, monospace;
  position: relative;
  z-index: 1;
  margin: 0 2px;
  background: #f3f4f4;
  content: "";
  border-radius: 3px;
  padding: 2px 5px;
  white-space: nowrap;
}

section ul {
  margin-top: 0.5em;
  padding-left: 1em;
  list-style-type: disc;
}

details {
  background: #f1f1f1;
  margin: 2em -2em -2em;
  padding: 1.5em 2em;
}

details .gist {
  margin-top: 1.5em;
}

details .toggle-code {
  display: inline-block;
  padding: 0.5em 1em;
  border-radius: 5px;
  font-size: 0.875rem;
  background: #10b981;
  top: 1em;
  right: 1em;
  color: #fff;
  font-weight: 500;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  cursor: pointer;
}

details .toggle-code:hover {
  background: #0ea271;
}

details .toggle-code svg {
  display: inline-block;
  vertical-align: -15%;
  margin-right: 0.25em;
}

details summary {
  outline: none;
  list-style-type: none;
}

details summary::marker {
  display: none;
}

details summary::-webkit-details-marker {
  display: none;
}

button {
  background-color: #4CAF50; /* 녹색 배경 */
  color: white; /* 흰색 텍스트 */
  padding: 10px 20px; /* 상하, 좌우 패딩 */
  margin: 10px 0; /* 위아래 마진 */
  border: none; /* 테두리 없음 */
  cursor: pointer; /* 마우스 오버시 커서 변경 */
  border-radius: 5px; /* 모서리 둥글게 */
}

button:hover {
  background-color: #45a049; /* 마우스 오버시 색상 변경 */
}

.AIcontainer {
  display: flex; /* Flexbox 레이아웃 사용 */
  flex-direction: column; /* 요소들을 수직 방향으로 정렬 */
  align-items: center; /* 가로 방향에서 중앙 정렬 */
  justify-content: center; /* 세로 방향에서 중앙 정렬 */
  background-color: #f2f2f2; /* 배경색 설정 */
  padding: 20px; /* 내부 여백 */
  border-radius: 10px; /* 모서리 둥글게 */
}

/* 라벨 스타일 */
label {
  font-weight: bold; /* 글자 진하게 */
  margin-bottom: 10px; /* 아래쪽 마진 */
}

/* 소문자 스타일 */
small {
  color: #666; /* 글자색 */
  margin-bottom: 10px; /* 아래쪽 마진 */
}

/* 입력 필드 스타일 */
input[type="text"] {
  width: 100%; /* 폭 최대로 */
  padding: 10px; /* 패딩 */
  margin-bottom: 20px; /* 아래쪽 마진 */
  border-radius: 5px; /* 모서리 둥글게 */
  border: 1px solid #ccc; /* 테두리 색상 */
}