<main class="main" id="sign-up-main">
    <div class="sign-up-content">
        <h1 class="sign-up-logo">마이페이지</h1>
        <form id="signupForm"> <!-- 폼 태그 추가 -->
            <div id="error-message" style="display: none; color: red;"></div>
            <div class="sign-up-container">
                <label class="sign-up-big-label">로그인 정보</label>
                <label class="sign-up-small-label">아이디</label>
                <div class="sign-up-input-group">
                    <input name="userId" class="sign-up-input-normal" type="text" required readonly>
                </div>

                <div class="sign-up-input-group">
                    <label class="sign-up-small-label">비밀번호</label>
                    <input name="password" class="sign-up-input-normal" type="password" required readonly>
                    <button class="sign-up-confirm-button" type="button">변경하기</button>
                </div>

                <hr class="sign-up-hr">

                <div class="sign-up-input-group">
                    <label class="sign-up-big-label">개인 정보</label>
                    <label class="sign-up-small-label">이름</label>
                    <input name="name" class="sign-up-input-normal" type="text" required readonly>
                    <button class="sign-up-confirm-button" type="button">수정하기</button>
                </div>

                <hr class="sign-up-hr">

                <div class="sign-up-input-group">
                    <label class="sign-up-big-label">기본 면접 정보</label>
                    <label class="sign-up-small-label">관심분야</label>
                    <input name="interest" class="sign-up-input-normal" type="text" required readonly>
                    <button class="sign-up-confirm-button" type="button">수정하기</button>
                </div>

                <div class="sign-up-input-group">
                    <label class="sign-up-small-label">스킬</label>
                    <div class="skill-list-container">
                        <div id="skillList" class="show-skill-list"></div>
                        <button class="sign-up-confirm-button" type="button">수정하기</button>
                    </div>
                </div>

                <hr class="sign-up-hr">

                <button class="mypage-withdraw-button" type="button">회원탈퇴</button>
            </div>

        </form>
    </div>
</main>