<main class="main">
    <div class="service-content">
        <div class="practice-container">
            <h2 class="practice-title">면접 서비스</h2>
            <div class="practice-hr-container">
                <hr class="practice-hr">
            </div>
            <div class="practice-options">
                <div class="option-card">
                    <div class="card-content"> <!-- 내용을 감싸는 새로운 컨테이너 -->
                        <!--                                <h3 class="card-title">모의 면접</h3>-->
                        <div class="card-icon">
                            <img src="static/images/interview-start.jpg" alt="" class="interview-start-img">
                        </div>
                    </div>
                    <button class="card-button" id="move-interview-btn">모의면접 시작하기</button>
                </div>
                <div class="option-card">
                    <div class="card-content"> <!-- 내용을 감싸는 새로운 컨테이너 -->
                        <!--                                <h3 class="card-title">면접 기록모음</h3>-->
                        <div class="card-icon">
                            <img src="static/images/all-repo.jpg" alt="" class="all-repo-img">
                        </div>

                    </div>
                    <button class="card-button" id="find-log-btn">면접기록 확인하기</button>
                </div>
            </div>
        </div>

    </div>
</main>

